<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>

<div class="card">
  <div class="card-body">
    <form novalidate (ngSubmit)="saveClicked()" [formGroup]="policyForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="name">Name:</label>
        <div class="col-md-8">
          <input class="form-control" id="name" type="text" placeholder="Name (required)" formControlName="name"
            [class.is-invalid]="isInValid('name')" />
          <span class="invalid-feedback">
            <span *ngIf="policyForm.get('name').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="policyForm.get('name').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="age">Age:</label>
        <div class="col-md-8">
          <input class="form-control" id="age" type="text" placeholder="32" formControlName="age" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Gender</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="0" formControlName="gender"> Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1" formControlName="gender"> Female
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-8">
          <button class="btn btn-sm btn-outline-secondary float-right" type="submit" [disabled]="!policyForm.valid">
            Save
          </button>
          <a href="\" class="btn btn-sm btn-outline-secondary float-right">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>