<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete policy</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want delete policy number {{policyNumber}}?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-secondary float-right" (click)="modalRef.hide()">Close</button>
    <button type="button" class="btn btn-sm btn-outline-secondary float-right" (click)="confirm()">Confirm</button>
  </div>
</ng-template>